body{
  background-image: url(../public/sky2.jpg);
  background-size: cover;
}

.weatherContainer{
  justify-content: center;
  border: solid;
  background-color: gray;
  width: 30vw;
  height: 50vh;
}

