body{
  background-image: url(../public/sky2.jpg);
  background-repeat: no-repeat;
}

.weatherContainer{
  justify-content: center;
  align-items: center;
  border: solid;
  background-color: gray;
  width: 30vw;
  height: 60vh;
  backdrop-filter: blur(8px);
}

@media (max-width:450px){
  .weatherContainer{
    width: 70vw;
  }
}

.box{
  display: flex;
}
.screen{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
